.grid{
    margin: 0%;
}
.grid-padding{
    padding: 10px;
}
.col-1-4{
    width: 25%;
}
.module {
    display: inline-block;
    text-align: center;
    color: white;
    background-color:#607d8b;
    max-height: 120px;
    min-width: 120px;
    border-radius: 2px;
    margin-left: 10px;
  }
